# =========================
# Dependencies
# =========================
node_modules/

# =========================
# Expo / React Native
# =========================
.expo/
.expo-shared/
.expo-dev/
dist/
web-build/
expo-env.d.ts
*.tsbuildinfo

# Metro
.metro-health-check*

# Native (generated or secrets)
android/
ios/
*.orig.*
*.jks
*.keystore
*.keystore.*
*.p8
*.p12
*.key
*.mobileprovision
*.apk
*.aab
*.ipa

# Firebase / Secrets
google-services.json
GoogleService-Info.plist
firebase-debug.log

# =========================
#
